html {
	height: 100%;
}
body {
	height: 100%;
	background:
}
#side {
    height: 100%;
    width: 200px;
    background: #F7F7F7;
    padding: 10px;
    position: fixed;
    z-index: 20;
    font-size: 80%;
}
hr {
	padding: 0px;
}
#main {
	height: 100%;
	margin-left: 221px;
	padding: 10px;
	background: #FFF;
}
.t {
	font-weight: bolder;
}
.t:hover {
    color: #FFBF00;
}
#side center{
	font-size: 120%;
}

table {
	width:980px;
	height:00px;
	}
td tr td tr td{
	border:solid 1px #000000;
	}
#week{
	height:30px;
	text-align:center;
	}

#day td{
	width:100px;
	height:120px;
	text-align:left;
	vertical-align:top;
	}

textarea{
	resize: none;
}

#textarea{
	position:relative;top:20px;
}

